# This is used to configure the High Level Syntax (HLS) packets at the encoder.
# These variables can be commented out to prevent them from inclusion.
# Note that subsequent bitstream post-processing such as packets inspection, 
# insertion, deletion and extraction, are provided by the accompanying
# HLS Utility Tool.
###############################################################################

EncodingStartTimestamp  : false	# Default: "false"
                                # "true" inserts an encoding start timestamp packet
EncodingEndTimestamp    : false	# Default: "false"
                                # "true" inserts an encoding end timestamp packet
RecordingTimestamp      : true	# Default: "false"
                                # "true" inserts a recording timestamp packet in the beginning

SegmentMetadataInterval : 0     # Default: 0 (the whole bitstream is a segment)
                                # Specifies the number of IntraPeriods defining a segment
EncodedBlockSizes       : false # Default: "false"
                                # "true" enables the encoding of each segment's payload packet sizes
# Specifies other distortion measures per channel in a channel group stored in the segment metadata packet:
MAE                     : true	# Denotes the Maximum Absolute Error (MAE)
PRD                     : false	# Not implemented
SNR                     : false	# Not implemented