WpsId          : 0        # WPS ID for insertion
TimestampType  : 2        # Timestamp types:
                          # 0 for Waveform Acquisition
                          # 1 for Encoding Start
                          # 2 for Waveform Acquisition and Encoding start
                          # 5 for Encoding end
TimestampDate  : 29.11.22 # Date to be inserted in DD.MM.YY format
TimestampTime  : 12.27.11 # Time to be inserted in HH.MM.SS format
